<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <add name="DMSEntities" connectionString="metadata=res://*/EntityModel.DMSModel.csdl|res://*/EntityModel.DMSModel.ssdl|res://*/EntityModel.DMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PANKAJW\SQLEXPRESS;initial catalog=HackthonDMS;user id=sa;password=Cuelogic;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>